@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties for colors */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Apply custom styles to the body */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ),
  rgb(var(--background-start-rgb));
}

/* Ensure Tailwind's utilities have higher specificity */
body {
  @apply text-gray-900; /* Tailwind utility as a fallback in case the custom property fails */
}